{% extends 'the_blog/padre.html' %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Acerca de nosotros</h1>
{% endblock %}

{% block custom_content %}
<div class="container px-lg-5 mb-5">
    <div class=" card p-2 p-lg-5 bg-light rounded-3">
        <div class="m-4 m-lg-5">
            <h1 class="display6 fw-bold text-center">Arely Torres</h1>
            <p class="fs-4 tex-justify">Administradora de empresas con enfoque en finanzas, experiencia en gestión de fondos de inversión y demás entidades que les prestan servicios. Apasionada por las finanzas sustentables.</p>
        </div>
    </div>
</div>

<div class="container px-lg-5 mb-5" >
    <div class="card p-2 p-lg-5 bg-light rounded-3 text-center">
        <div class="m-4 m-lg-5">
            <h1 class="display6 fw-bold text-center">Angel Carreón</h1>
            <p class="fs-4 text-justify">Ingeniero en electrónica por la UMSNH (Universidad Michoacana de San Nicolás de Hidalgo) en el estado de Michoacán, México. Actualmente se desempeña en el araa de desarrollo de Software para la manufactura automotriz, orientado al desarrollo de sistemas web para manejo de datos y trazabilidad, desarrolla en python, C# .Net y Visual Basic Scripting principalmente. </p>
        </div>
    </div>
</div>
{% endblock %}